body{
    background-color: aquamarine;
    background-image: url(./../lab2/images/recipeImages/background2.gif);
}
.wholeBody{
    background-color: blanchedalmond;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}
h1{
 text-align: center;
}
.imagePart{
    text-align: center;
}
